/* app/globals.css */
@import "tailwindcss";
@plugin "@tailwindcss/typography";
/* your custom styles below if needed */
:root {
  color-scheme: light;
}


.prose ul > li::marker {
  color: #000; /* dark bullet color */
}


